<div id="<%= dom_id project %>">
   <div class="card card-body">
    <strong>Content:</strong>
    <%= project.content %>
  </div>

   <div class="card card-footer">
    <strong>Vote:</strong>
    <%= project.vote %>
  </div>

</div>
