<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %> 
  <div class="card card-body">
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
