<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %> 
  <div>"
    <%= render project %>
    </div>
    <div class="card card-footer">
    <p>
      <%= link_to "Show this project", project, class:"btn btn-success mt-2" %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path, class:"btn btn-primary mt-3" %>
